In [ ]:
# RE-:regular expression specifies a set of string that matches it,the function in this module.
import re
#search() is used for looking the same pattern
text="Today is a rainy day"
if re.search("rainy",text):
    print("pattern found")
    
else:
    print("pattern not found")

pattern found

In [ ]:
#split()---it is used to create a pattern in form of list of substring
user="my email id is bhumikachaudhari@gmail.com"
print("domain is ",re.split('@',user)[-1]) #-1 is used to find the last index and domain is always found at last index
re.split('@',user)  # here the pattern will be created from @ symbol from there the pattern will break and new will form

domain is  gmail.com

['my email id is bhumikachaudhari', 'gmail.com']

In [ ]:
#findall()----will find out the pattern and return its occurences
t1='bhagyashri is very shy girl,bhagyashri dont talk much,bhagyashri loves to do drawing'
print("we talked",len(re.findall('bhagyashri',t1)),"time about bhagyashri")
len(re.findall('bhagyashri',t1))

we talked 3 time about bhagyashri

3

In [ ]:
# ^--cater symbol if it is before the string then it means at the starting
# $--dollar symbol if it is before the string then it means at the end of the string
text2="RE stands for regular expression"
if re.search("^RE",text2):
    print("present at the start")
else:
    print("present at the end of the string")

present at the start

In [ ]:
#Replace all white-space characters with the digit "9":

txt = "The notebook is not very clear"
x = re.sub("\s", "9", txt)
print(x)

The9notebook9is9not9very9clear

In [ ]:
txt = "hello my name is bhagyashri"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)

['hello']

In [ ]:
txt = "hello i m green"
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
x1 = re.findall("he.*o", txt)
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":
x2 = re.findall("he.+o", txt)
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
x3 = re.findall("he.?o", txt)
print(x1)
print(x2)
print(x3)

['hello']
['hello']
[]

In [ ]:
txt = "hello how are you?"
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
x = re.findall("he.{2}o", txt)
print(x)

['hello']

In [ ]:
txt = "heavy rainfall is going on in the mumbai"
#Check if the string contains either "falls" or "stays" if even one is present it will return it
x = re.findall("rainfall|mumbai", txt)
# x = re.findall("sun|mumbai", txt)
print(x)

['rainfall', 'mumbai']

In [ ]:
txt = "The monkey is climbing on tree" #Check if the string starts with "The":
x1 = re.findall("\AThe", txt)
#Check if "ing" is present at the beginning of a WORD:
x2 = re.findall(r"\bing", txt) # can also be written as x = re.findall(r"ing\B", txt)
#Check if "ing" is present at the end of a WORD:
x3 = re.findall(r"ing\b", txt) # can also be written as x = re.findall(r"\Bing", txt)
print(x1)
print(x2)
print(x3)

['The']
[]
['ing']

In [ ]:
grades="AADSBHGHHIAUYTRRR"
l=len(re.findall('A',grades))  # want to find the number of a in string
x1=re.findall("[AD]",grades) # number of times A and D is there
x2=re.findall("[A][D-U]",grades) # return a followed by either D OR U
x3=re.findall("AD|AU",grades) # return combinations of AD and AU
x4=re.findall("[^A]",grades) # return the characters that are not A
print(l)
print(x1)
print(x2)
print(x3)
print(x4)

3
['A', 'A', 'D', 'A']
['AD', 'AU']
['AD', 'AU']
['D', 'S', 'B', 'H', 'G', 'H', 'H', 'I', 'U', 'Y', 'T', 'R', 'R', 'R']

In [ ]:
#quantifiers----the number of times you want to find the pattern.it is in the form of e{m,n} here,
# e--- the pattern we want to find
#m-----minimum number of times you want it
#n-----maximum number of times you want it

grades="ADBHAADFBHAAAGG"
re.findall("A{1,3}",grades) # here e=A m=1 n=3

['A', 'AA', 'AAA']

In [ ]:
re.findall("AD{1,2}",grades) # if we give only m or n then it becomes m=n like {2} then m=2 and n=2

['AD', 'AD']

In [ ]:
re.findall("A{1,3}D{1,2}",grades)

['AD', 'AAD']

In [ ]:
str="hi this is indian phone number 8059101234 and this is usa number (409)-987-9876"
pattern="\d{10}|\(\d{3}\)-\d{3}-\d{4}"
re.findall(pattern,str)

['8059101234', '(409)-987-9876']

In [ ]:
str1=";:,bhumik;:a;chau,dhari"
pattern="[^;:,]+"  #here + is used to find match for one or more character if we dont add a then list of individual character will be made
re.findall(pattern,str1)

['bhumik', 'a', 'chau', 'dhari']

In [ ]:
str4="company ABC FY2021 Q1 result is 10cr,FY2021 Q2 result is 15cr,FY2022 Q3 result is 5cr"
pattern="FY\d{4} Q[1-4]"
pattern1="\d{1,9}cr"
s1=re.findall(pattern,str4)
s2=re.findall(pattern1,str4)
print(s1)
print(s2)

['FY2021 Q1', 'FY2021 Q2', 'FY2022 Q3']
['10cr', '15cr', '5cr']