Project on the sentiment analysis of the twitter data with the help of the lstm model.(long short term memory).

In [27]:
import pandas as pd
import numpy as np
import re
from keras.preprocessing.text import Tokenizer

In [11]:
data = pd.read_csv('/content/drive/MyDrive/twitter_training.csv',header=None)
data

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
...,...,...,...,...
74677,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74678,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74679,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74680,9200,Nvidia,Positive,Just realized between the windows partition of...
74681,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [12]:
data.head() # fetching the first 10 data records

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [13]:
data.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [14]:
new_columns=["id","type","sentiment","text"] # renaming the columns of the dataframe
data.columns = new_columns
data.head()

,id,type,sentiment,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [16]:
data.info() # get the detail of the whole dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74682 entries, 0 to 74681
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         74682 non-null  int64
 1   type       74682 non-null  object
 2   sentiment  74682 non-null  object
 3   text       73996 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [17]:
data=data[['text','sentiment']] # dropping the not required column ie type and id and making new df having the required data fields like sentiment and text
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74682 entries, 0 to 74681
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       73996 non-null  object
 1   sentiment  74682 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [18]:
data.head() # check if the column is drop or not

                                                text sentiment
0  im getting on borderlands and i will murder yo...  Positive
1  I am coming to the borders and I will kill you...  Positive
2  im getting on borderlands and i will kill you ...  Positive
3  im coming on borderlands and i will murder you...  Positive
4  im getting on borderlands 2 and i will murder ...  Positive

In [19]:
data["sentiment"].value_counts() # check the count of the each type of the sentiment present.

Negative      22542
Positive      20832
Neutral       18318
Irrelevant    12990
Name: sentiment, dtype: int64

In [21]:
data = data[data.sentiment != "Neutral"]
data = data[data.sentiment != "Irrelevant"]
data

                                                    text sentiment
0      im getting on borderlands and i will murder yo...  Positive
1      I am coming to the borders and I will kill you...  Positive
2      im getting on borderlands and i will kill you ...  Positive
3      im coming on borderlands and i will murder you...  Positive
4      im getting on borderlands 2 and i will murder ...  Positive
...                                                  ...       ...
74677  Just realized that the Windows partition of my...  Positive
74678  Just realized that my Mac window partition is ...  Positive
74679  Just realized the windows partition of my Mac ...  Positive
74680  Just realized between the windows partition of...  Positive
74681  Just like the windows partition of my Mac is l...  Positive

[43374 rows x 2 columns]

In [22]:
data['sentiment'] = data['sentiment'].astype(str)

In [23]:
data['text'] = data['text'].astype(str)

In [24]:
data['text'] = data['text'].apply(lambda x: x.lower())
data

                                                    text sentiment
0      im getting on borderlands and i will murder yo...  Positive
1      i am coming to the borders and i will kill you...  Positive
2      im getting on borderlands and i will kill you ...  Positive
3      im coming on borderlands and i will murder you...  Positive
4      im getting on borderlands 2 and i will murder ...  Positive
...                                                  ...       ...
74677  just realized that the windows partition of my...  Positive
74678  just realized that my mac window partition is ...  Positive
74679  just realized the windows partition of my mac ...  Positive
74680  just realized between the windows partition of...  Positive
74681  just like the windows partition of my mac is l...  Positive

[43374 rows x 2 columns]

In [25]:
#The syntax for re. sub() is re. sub(pattern,repl,string), to remove the pattern or something else apart from the normal text
data['text'] = data['text'].apply((lambda x: re.sub('[^a-z0-9\s]','',x))) 
data

                                                    text sentiment
0      im getting on borderlands and i will murder yo...  Positive
1      i am coming to the borders and i will kill you...  Positive
2      im getting on borderlands and i will kill you all  Positive
3      im coming on borderlands and i will murder you...  Positive
4      im getting on borderlands 2 and i will murder ...  Positive
...                                                  ...       ...
74677  just realized that the windows partition of my...  Positive
74678  just realized that my mac window partition is ...  Positive
74679  just realized the windows partition of my mac ...  Positive
74680  just realized between the windows partition of...  Positive
74681  just like the windows partition of my mac is l...  Positive

[43374 rows x 2 columns]

In [32]:
#Tokenisation is the process of breaking up a given text into units called tokens.
from keras.preprocessing.text import tokenizer_from_json
top_words = 10000 
tokenizer = Tokenizer(num_words=top_words, split=' ')
tokenizer.fit_on_texts(data['text'].values)

In [30]:
# word_index is used to find the length of the tokens made or tokenizer 
word_index = tokenizer.word_index

In [31]:
len(word_index)

23315

Word Embeddings or Word vectorization is a methodology in NLP to map words or phrases from vocabulary to a corresponding vector of real numbers which used to find word predictions, word similarities/semantics. The process of converting words into numbers are called Vectorization.

In [33]:
#allows to vectorize a text corpus, by turning each text into either a sequence of integers
X = tokenizer.texts_to_sequences(data['text'].values)
print(len(X))
print(X[0])

43374
[29, 130, 14, 106, 4, 2, 58, 1448, 13, 26]

In [35]:
from keras.utils import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM 
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing import sequence
from keras.callbacks import EarlyStopping

Semantic-based padding takes advantage of the unused space required for having a fixed-size input matrix in a Convolutional Network effectively, using words present in the sentence. The methodology proposed has been evaluated intensively in Sentiment Analysis tasks using a variety of word embeddings.

In [36]:
X = pad_sequences(X)
print(X[0])

[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0   29  130   14  106    4    2   58 1448   13   26]

prepare the lstm model
lstm model- LSTMs are particularly powerful because they can learn long-term dependencies in data, making them very effective for tasks such as language modeling and machine translation.Why do we use LSTM? We use LSTM because it helps us to better understand and predict the behavior .

In [38]:
embed_dim = 128 # The embedding layer encodes the input sequence. into a sequence of dense vectors of dimension embed_dim.
lstm_units = 196

model = Sequential()
model.add(Embedding(top_words, embed_dim,input_length = X.shape[1]))
#model.add(LSTM(lstm_units))

model.add(LSTM(100,dropout=0.25,recurrent_dropout=0.25))
model.add(Dense(50,activation='relu'))
model.add(Dense(25,activation='relu'))

model.add(Dense(1,activation='sigmoid'))
model.compile(loss = 'binary_crossentropy', optimizer='adam',metrics = ['accuracy'])

In [39]:
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 166, 128)          1280000

 lstm (LSTM)                 (None, 100)               91600

 dense (Dense)               (None, 50)                5050

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 1,377,951
Trainable params: 1,377,951
Non-trainable params: 0
_________________________________________________________________
None

In [40]:
# encoding is done for giving the numeric values to the text data here positive =1 and negative = 0
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y=le.fit_transform(data['sentiment'])
print(le.classes_)
print(y)

['Negative' 'Positive']
[1 1 1 ... 1 1 1]

In [41]:
# split the data into the train and the test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.33, random_state = 42)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(29060, 166) (29060,)
(14314, 166) (14314,)

In [42]:
# fit the model on the train set
batch_size = 32
model.fit(X_train, y_train, epochs = 7, batch_size=batch_size,validation_data= (X_test, y_test),callbacks=EarlyStopping(patience=3,restore_best_weights=True))

Epoch 1/7
909/909 [==============================] - 491s 534ms/step - loss: 0.3768 - accuracy: 0.8231 - val_loss: 0.2603 - val_accuracy: 0.8914
Epoch 2/7
909/909 [==============================] - 484s 533ms/step - loss: 0.1839 - accuracy: 0.9215 - val_loss: 0.2116 - val_accuracy: 0.9141
Epoch 3/7
909/909 [==============================] - 476s 523ms/step - loss: 0.1270 - accuracy: 0.9443 - val_loss: 0.1997 - val_accuracy: 0.9182
Epoch 4/7
909/909 [==============================] - 539s 594ms/step - loss: 0.1006 - accuracy: 0.9547 - val_loss: 0.2130 - val_accuracy: 0.9243
Epoch 5/7
909/909 [==============================] - 545s 600ms/step - loss: 0.0857 - accuracy: 0.9598 - val_loss: 0.2109 - val_accuracy: 0.9295
Epoch 6/7
909/909 [==============================] - 545s 600ms/step - loss: 0.0732 - accuracy: 0.9642 - val_loss: 0.2263 - val_accuracy: 0.9292

In [43]:
model.evaluate(X_train, y_train)

909/909 [==============================] - 73s 80ms/step - loss: 0.0916 - accuracy: 0.9605

[0.09159781038761139, 0.9604611396789551]

In [44]:
model.evaluate(X_test, y_test)

448/448 [==============================] - 32s 71ms/step - loss: 0.1997 - accuracy: 0.9182

[0.19965367019176483, 0.9181919693946838]

In [45]:
model.save('twitter_sentiment.h5')

In [47]:
y_pred=(model.predict(X_test)>=0.5).astype(int)
y_pred

448/448 [==============================] - 45s 100ms/step

array([[1],
       [1],
       [0],
       ...,
       [1],
       [1],
       [0]])